.titre-competences {
    background-color: #C3D295;
    line-height: 130%;
    text-shadow: #ea9b38 2px 0 12px;
    padding: 0.5rem;
    margin: 5rem;
    color: #614942;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    font-family: "inter", sans-serif;
    box-shadow: 0 0 10px black;
  }

  .photogroot {   
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 70%;
    justify-content : center;
    box-shadow: 0 0 10px black;
}

  .photobox {
   display : flex;
    justify-content : center;
    align-items: center;
    
  }

  .skillbox {
    padding: 1.5rem;
    margin: 2.5rem;
    color: var( --text-color);
    border: none;
    border-radius: 10px;
    float: center;
    height: 35rem;
    font-size: 1.2rem;
    font-family: "inter", sans-serif;
    box-shadow: 0 0 10px black;
    overflow: hidden;
    height: auto;
  }

  .skill-list {
    list-style-type: none;

  }