
 .photog {   
    display: block;
    margin: auto;
    width: 30%;
    border-radius: 70%;
    justify-content : center;
}

  .photob {
   display : flex;
    justify-content : center;
    align-items: center;
  }


  .titreExp{
    display : flex;
    justify-content : center;
    align-items: center;
    background-color: #C3D295;
    line-height: 140%;
    text-shadow: #683e0b 2px 0 12px;
    padding: 0.5rem;
    margin: 2.5rem;
    color: #614942;
    border: none;
    border-radius: 10px;
    float: center;
    font-size: 1.75rem;
    font-family: "inter", sans-serif;  
    font-weight : bold;
  }

  .textexp {
    display : flex;
    background-color:#C3D295;
    padding: 1.5rem;
    margin: 1rem;
    color: #614942;
    border: none;
    border-radius: 10px;
    height: 40rem;
    font-size: 1.2rem;
    font-family: "inter", sans-serif;
    justify-content: center;
    float: center;
    flex-wrap : wrap;
    justify-content :space-around;
    height: auto;

  @media screen and (min-width: 600px) { 

    .photog {
      display : flex;
      float: left;
  width: 25%;
  height: 300px;
    }
    .p1{
   display : flex;
    background-color:#C3D295;
    padding: 1.5rem;
    margin: 1rem;
    color: #614942;
    border: none;
    border-radius: 10px;
    height: 40rem;
    font-size: 1.2rem;
    font-family: "inter", sans-serif;

  float: center;
  width: 50%;
  height: 300px;


    } 
    
    .p2{
      display : flex;
    background-color:#C3D295;
    padding: 1.5rem;
    margin: 1rem;
    color: #614942;
    border: none;
    border-radius: 10px;
    height: 40rem;
    font-size: 1.2rem;
    font-family: "inter", sans-serif;

      float: right;
      width: 50%;
      height: 300px;
  
    }
 }}
