  .footerBase {
    background-color:var(--box-color) ;
    color: var(--headings-box);
    color:var(--text-color);
    

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 0 0 10px black;
    z-index: 10;
    list-style-type: none;
    margin-top: 2rem;

  }
  .footerColonne{ 
    align-items: center;
    justify-content: space-around;
  }


  .footerContainer {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0.5rem;
    color:var(--text-color);

  }

  .footerContainer img {
    padding-right: 1rem;
    display: flex;
    border-radius: 100%;
    color: var(--box-color);
  }

.footerContainer span {
  color:var(--text-color);
  font-size: 2rem;
}  



@media screen and (max-width: 768px) {
  .footerBase {
    padding: 2rem; /* Réduisez le padding pour les écrans de petite taille */
    width: 25rem; /* La largeur s'étend sur toute la largeur de l'écran */
    height: 13rem;
    max-width: none;
    max-height: none;
    margin-bottom: 20px; /* Réduisez l'espacement entre les cellules */
   
  }
}