  .footerBase {
    
    background-color:var(--headings-box) ;
    width: 100vw;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 0 0 10px black;
    z-index: 10;
    list-style-type: none;
    margin-top: 2rem;

  }
  .footerColonne{ 
    align-items: center;
    justify-content: space-around;

  }


  .footerContainer {
    margin-left: 0.75rem;
    margin-right:0,75rem ;

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    color:var(--text-color);

  }


  .footerContainer img {
    padding-right: 1rem;
    padding-left: 1 rem;
    display: flex;
    border-radius: 100%;
    color: var(--box-color);
  }
.img.footergif {
  /* display: none; */
  width: 8rem;
  height: 8rem;
}
.footerContainer span {
  color:var(--text-color);
  font-size: clamp(0.rem, 1vw, 2rem);
}  

.footerColonne img {
  width: 4rem;
  height: 4rem;
}

@media screen and (max-width: 768px) {

    .footerBase {
      text-align: center;
      align-items: center;
    }
    .footerContainer {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }

    img.footergif {
      /* display: none; */
      width: 7rem;
      height: 6rem;
    }

  /*  #footerGifLink {
      display: none;
    }*/
  
  }

 
