.ecole{   
  display: block;
  margin: auto;
  width:15rem;
    height: 15rem;
  border-radius: 70%;
  justify-content : center;
}



.titreform{
  display : flex;
  justify-content : center;
  align-items: center;
  background-color: #C3D295;
  line-height: 150%;
  text-shadow: #683e0b 2px 0 12px;
  padding: 0.2rem;
  margin: 0.5rem;
  color: #614942;
  border: none;
  border-radius: 10px;
  float: center;
  font-size: 1.75rem;
  font-family: "inter", sans-serif; 
  font-weight : bold; 
  height: auto;
}


.divtextf {
  display:flex;
  background-color:#C3D295;
  padding: 1.5rem;
  margin: 1rem;
  color: #614942;
  border: none;
  border-radius: 10px;
  float: center;
  height: 40rem;
  font-size: 1.2rem;
  font-family: "inter", sans-serif;
  flex-wrap : wrap;
  justify-content :space-around;
   height: auto;
   .photogform {
    display: none
    }

  
@media screen and (min-width: 887px) { 

  .p1{
    display : flex;
     background-color:#C3D295;
     padding: 1.5rem;
     float: left;
     margin: 1rem;
     color: #614942;
     border: none;
     border-radius: 10px;
     height: 40rem;
     font-size: 1.2rem;
     font-family: "inter", sans-serif;
   width: 50%;
   height: auto;}
  .p2 {
    display : flex;
    float: right;
    flex-wrap : wrap;
    justify-content :space-around;
    height: auto;
   
  }
  .photogform {
    display: flex;
    margin: auto;
    width: 75%;
    height: auto;
    border-radius: 70%;
    flex-wrap: wrap ;

    }
 
     } }
    