:root {
    --box-color: #C3D295;
    --light-primary-color: #FFFFFF;
    --darker-primary-color: #D9D9D9;
    --text-color: #614942 ;
    --body-text-size: clamp(1rem, 5vw, 3rem);
    --section-title-font-size: clamp(1rem, 5vw, 3rem);
    --filter: drop-shadow(2px 3px black);

}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }



.titre {
    background-color: var(--box-color);
    text-shadow:var(--text-color) 2px 0 12px;
    padding: 0.5rem;
    margin: 2.5rem;
    color: var(--text-color);
    border: none;
    border-radius: 10px;
    float: center;
    font-size: 1.25rem;
    font-family: "inter", sans-serif;
    box-shadow: 0 0 10px black;
    font-weight: bold;
  }

  .photogroot {   
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 70%;
    justify-content : center;
    box-shadow: 0 0 10px black;
}

.photobox {
  display : flex;
  justify-content : center;
  align-items: center;
  padding: 3rem;
}