.navbar {
    background-color: #BCD979;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 0.5rem;
    position: fixed;
    /* Bordure box */
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 0 10px black;
    z-index: 10;
    list-style-type: none;
  }

  .navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-weight: bold;
    justify-content: flex-end;
  }

  .navbar ul li a {
    display: flex;
    align-items: center;
    color: var(--text-color);
    padding: 0.75rem;
    font-weight: bold;
    font-size: 3vw;
    list-style-type: none;
    text-decoration: none;
    font-family: "inter", sans-serif;
    color: purple;
    
    
  }

  html {
    scroll-behavior: smooth;
  }


  .menuhamburger {
    display: none;
    width: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  @media screen and (max-width: 900px) {
    .menuhamburger {
      display: block;
    }
     .navbar ul {

      justify-content: flex-end;
     }
    }